.projects {
    background-color: $content-background;
    margin-top: 15px;
    padding: 30px;
    -webkit-box-shadow: $drop-shadow;
    -moz-box-shadow: $drop-shadow;
    box-shadow: $drop-shadow;

        .project-gif {
            height: 275px;
            width: 500px;
        }
}