$body-color: #000;
$light-text-color: #FDFDFF;
$mid-text-color: #95A0A5;
$mid-dark-text-color: rgb(48, 141, 187);
$dark-text-color: #605F5E;
$black: black;
$drop-shadow: 0px 6px 23px 0px rgba(0,0,0,0.75);
$content-background: rgba(0,0,0,0.7);
