@import "variables";
@import "navbar";
@import "about";
@import "blogs";

/* Main Styling */

body {
	background-color: $light-text-color;
	color: $light-text-color;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-size: 100%;
}

a {
	color: $light-text-color;
	text-decoration: none; 
}

footer {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: $mid-text-color;
}

