@import "variables";
@import "navbar";
@import "about";
@import "blogs";
@import "projects";

/* Main Styling */

body {
	background-color: $light-text-color;
	color: $light-text-color;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
	color: $light-text-color;
	text-decoration: none; 	
}

a:hover {
	color: $mid-dark-text-color;
}


footer {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: $mid-text-color;
}

