<div class="about col-xs-8 col-xs-offset-2 img-rounded">
    <div>
        <h2 class="col-xs-8">
            Hi There!
        </h2>
        <img class="img-circle col-xs-4 text-center me" src="images/muhmug.png" alt="me">
    </div>      
    <p class="col-xs-12">
        I'm Ben and I am a software developer living in Nashville, Tennessee. I started my journey here like most people, in the music industry. After a few years of grinding it out trying to make it, I decided that the business may not be for me, and led me to a new passion, software. I am currently enrolled at Nashville Software School in the part-time web development program. When I am not coding, I enjoy spending time with my wife and my dog and pretending like I know how to cook and barbecue.
        <ul class="col-xs-12">
            <li><a href="mailto:ben@harringtonben.com"><img class="social-logo" src="images/icon-email.png" alt="email"></a></li>
            <li><a href="http://www.github.com/harringtonben"><img class="social-logo" src="images/icon-github.png" alt="github"></a></li>
            <li><a href="https://www.linkedin.com/in/ben-harrington-813b123b/"><img class="social-logo" src="images/icon-linkedin.png" alt="linkedin"></a></li>
        </ul>
    </p>
</div>