body {
	background-color: #62929e;
	color: #FDFDFF;
}

.social-logo {
	height: 25px;
	width: 25px;
}

.social ul {
	list-style: none;
}

/* Navbar styling */

nav a:hover {
	color: #C6C5B9;
	background-color: #546A7B;
}

nav a:active {
	padding-left: 5px;
	padding-right: 5px;
}